@model IEnumerable<QLSV.Model.Models.Teacher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Thêm giáo viên mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã giáo viên
            </th>
            <th>
                Tên giáo viên
            </th>
            <th>
                Khoa
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TeacherId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TeacherId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TeacherId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
