@model IEnumerable<QLSV.Model.Models.Result>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegularMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MitermMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.CCCDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.Lesson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegularMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MitermMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
