@model QLSV.Model.Models.Classroom

@{
    ViewData["Title"] = "Thông tin chi tiết lớp học";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">
            Tên lớp
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            Môn học
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-3">
            Giáo viên
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>
        <dt class="col-sm-3">
            Thời gian bắt đầu
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-3">
            Thời gian kết thúc
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-3">
            Học kỳ
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class="col-sm-3">
            Tiết học
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Lesson)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClassroomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
