@model IEnumerable<QLSV.Model.Models.Classroom>

@{
    ViewData["Title"] = "Danh sách lớp học phần";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewBag.Title</h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên lớp
            </th>
            <th>
                Giáo viên
            </th>
            <th>
                Môn học
            </th>
            <th>
                Thời gian bắt đầu
            </th>
            <th>
                Thời gian kết thúc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    @item.StartTime.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.EndTime.ToString("dd-MM-yyyy")
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClassroomId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClassroomId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClassroomId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
