@model QLSV.Model.Models.PrimaryClass

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PrimaryClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên lớp
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Chuyên ngành
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major.Name)
        </dd>
        <dt class="col-sm-2">
            Khoa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Major.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrimaryClassId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
