@model IEnumerable<QLSV.Model.Models.PrimaryClass>

@{
    ViewData["Title"] = "Danh sách lớp chính";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-action="Create">Thêm lớp</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Khoa
            </th>
            <th>
                Ngành
            </th>
            <th>
                Tên lớp
            </th>
            <th>
                Mô tả
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Major.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.PrimaryClassId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PrimaryClassId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PrimaryClassId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
