@model QLSV.Model.Models.Student

@{
    ViewData["Title"] = "Thông tin sinh viên";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


<div>
    <h3>@ViewBag.Title</h3>
    <hr />
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-bolder">Mã sinh viên</label>
                        @Html.DisplayFor(model => model.StudentCode)
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder">Họ tên</label>
                        @Html.DisplayFor(model => model.Name)
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder">Ngành học</label>
                        @Html.DisplayFor(model => model.PrimaryClass.Major.Name)
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder">Lớp</label>
                        @Html.DisplayFor(model => model.PrimaryClass.Name)
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder"></label>
                        @if (Model.Avatar != null)
                        {
                            var pathImage = "data:image;base64," + Convert.ToBase64String(Model.Avatar);
                            <image src="@pathImage" />
                        }
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-bolder">Giới tính</label>
                        @Html.DisplayFor(model => model.Gender)
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder">Ngày sinh</label>
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder">Ngày nhập học</label>
                        @Html.DisplayFor(model => model.DateOfAdmission)
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder">Địa chỉ</label>
                        @Html.DisplayFor(model => model.Address)
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder">Số điện thoại</label>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-weight-bolder">Số CCCD</label>
                        @Html.DisplayFor(model => model.CCCDNumber)
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder">Ngày cấp</label>
                        @Html.DisplayFor(model => model.CCCDDateStart)
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder">Mặt trước CCCD</label>
                        @if (Model.FrontCCCDImage != null)
                        {
                            var pathImage = "data:image;base64," + Convert.ToBase64String(Model.FrontCCCDImage);
                            <image src="@pathImage" />
                        }else{
                            <image src = "" style="width: 75px; height: 75px; margin-left: 10px"/>
                        }
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bolder">Mặt sau CCCD</label>
                        @if (Model.BackCCCDImage != null)
                        {
                            var pathImage = "data:image;base64," + Convert.ToBase64String(Model.BackCCCDImage);
                            <image src="@pathImage" />
                        }
                        else
                        {
                            <image src="" style="width: 75px; height: 75px; margin-left: 10px" />
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a>
</div>
