@model IEnumerable<QLSV.Model.Models.Attendance>

@{
    ViewData["Title"] = "Danh sách điểm danh";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>



<a id="recognize" class="btn btn-primary" asp-area="Instructor" asp-controller="Attendances" asp-action="Recognize" style="outline: none">Điểm danh</a>
<table class="table">
    <thead>
        <tr>
            <th>
               Lớp học
            </th>
            <th>
                Sinh viên
            </th>
            <th>
                Điểm danh
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Ghi chú
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassroomId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttenTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Check)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AttendanceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AttendanceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AttendanceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

