@model QLSV.Model.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3" style="font-weight: bold" >
            Tên môn học
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3" style="font-weight: bold" >
            Số tín chỉ lý thuyết
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TheoryCreditsNumber)
        </dd>
        <dt class = "col-sm-3" style="font-weight: bold" >
            Số tín chỉ thực hành
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PracticeCreditsNumber)
        </dd>
        <dt class = "col-sm-3" style="font-weight: bold" >
            Mô tả
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-3" style="font-weight: bold" >
            Nội dung
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-3" style="font-weight: bold" >
            Hình thức kiểm tra
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ExamForm)
        </dd>
        <dt class = "col-sm-3" style="font-weight: bold" >
            Ghi chú
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-3" style="font-weight: bold" >
            Yêu cầu
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SpecialRequirements)
        </dd>
        <dt class = "col-sm-3" style="font-weight: bold" >
            Tài liệu tham khảo
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Documentation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
